* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.hide {
  position: relative;
  left: -10000px;
  top: auto;
}

.hide:focus {
  left: 0;
  color: black;
  background-color: #FFFFA8;
}

header {
  background-color: rgb(3, 163, 223);
  height: 150px;
  font-family: arial, sans-serif;
}

.header-logo {
   padding-left: 50px;
   padding-top: 20px;
}

.address {
  font-style: normal;
  font-weight: bold;
  color: white;
  float: right;
  padding-top: 25px;
  padding-right: 50px;
}

nav {
  background-color: #444444;
  padding: 5px;
  text-align: center;
  position: sticky;
  top: 0;
}

.video {
  margin-left: 27%;
  padding-top: 0;
}

li, a {
  display: flex;
  display: inline-block;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 15px;
  color: white;
  padding: 0 10px 0 10px;
}

.nav-link li a {
  transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
  color: rgb(236, 183, 34)
}

.body-text {
  margin: 10px 75px 0 75px;
  font-size: 17px;
}

.line {
  border-bottom: 3px solid rgba(3, 163, 223);
  display: block;
}

h1 {
  background-color: rgb(236, 183, 34);
  text-align: center;
  color: #444444;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  background-color: rgb(236, 183, 34);
  text-align: center;
  color: #444444;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  color: #1b447f;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.private-lesson {
  text-decoration: none;
  color: rgb(3, 163, 223);
  font-size: 17px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.bio-image {
  padding-left: 40%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  position: relative;
  background-position: center;
  background-size: cover;
}

.footer-logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

.policy {
  position: absolute;
  top: 60%;
  left: 50px;
  right: 50px;
  color: white;
  font-size: 17px;
}

.footer-address {
  position: absolute;
  top: 50px;
  right: 50px;
  font-style: normal;
  font-weight: bold;
  color: white;
}
