header {
  background: #2c9ab7;
  padding: 45px;
}

h1 {
  font-family: sans-serif;
  font-size: 45px;
  color: white;
  margin-bottom: -15px;
  position: relative;
  left: 70px;
}

h2 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: lighter;
  color: white;
  position: relative;
  left: 70px;
}

.nav1 {
  background: #ebebeb;
  padding: 20px;
}

.nav-heading {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  position: relative;
  left: 90px;
}
