body {
  background: white;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  color: black;
}

header {
  background: #A1A9D2;
  padding: 10px;
  text-align: center;
}

.nav {
  background: #E7E9F3;
  padding: 10px;
}

.links:hover {
  background-color: white;
}

h1 {
  font-family: "Nixie One", serif;
  font-size: 40px;
  color: #1F2337;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.img1 {
  transition-property: all;
  transition-duration: 1s;
}

.img1:hover {
  transform: rotate(-10deg);
}

.img2 {
  transition-property: all;
  transition-duration: 1s;
}

.img2:hover {
  width: 350px;
  height: 350px;
}

.img3 {
  transition-property: all;
  transition-duration: 1s;
}

.img3:hover {
  transform: rotate(10deg);
}

.italics {
  font-family: "Nixie One", serif;
  font-size: 16px;
  color: white;
}

h2 {
  font-family: "Nixie One", serif;
  font-size: 30px;
  color: #5D6BB1;
}

.transition1 {
  transition-property: font-size;
  transition-duration: 1s;
}

.transition1:hover {
  font-size: 40px;
}

.transition2 {
  transition-property: font-size;
  transition-duration: 1s;
}

.transition2:hover {
  font-size: 25px;
}

h3 {
  font-family: "Nixie One", serif;
  font-size: 20px;
  color: #5D6BB1;
}
h4 {
  font-family: "Nixie One", serif;
  font-size: 20px;
  color: #5D6BB1;
}

aside ol li:nth-child(odd) {
  color: purple;
}



footer {
  background: #1F2337;
  text-align: center;
  padding: 10px;
}
