* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #e8f3f8;
}

body {
  width: 100%;
}
form {
  max-width:500px;
  margin:2rem auto;
  border:2px solid steelblue;
  padding:2rem;
  border-radius:5px;
  background-color: white;
}

header {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
}

input {
  background-color: white;
}

label {
  display: block;
  text-transform:uppercase;
  font-size:14px;
  padding: 5px;
  background-color: white;
}

.location {
  background-color: white;
}

#submit {
  border:0;
  border-radius: 10px;
  background:steelblue;
  padding:.5rem;
  color:white;
  margin:1rem 0;
  width:auto;
  text-transform:uppercase;
}
